@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sanchez:ital@0;1&display=swap');

:root {
  /* Colors */
  --primary-color: #615fff;
  --primary-hover: #747bff;
  --color-ghost: #5b4bff;
  --text-color: #0f172a;
  --color-light-0: #ffffff;
  --color-light-100: #e6eef6;
  --sidebar-color: #F3F5F6;
  /* Spacings */
  --pixel-4: 4px;
  --pixel-8: 8px;
  --pixel-10: 10px;
  --pixel-12: 12px;
  --pixel-14: 14px;
  --pixel-16: 16px;
  --pixel-18: 18px;
  --pixel-20: 20px;
  --pixel-24: 24px;
  --pixel-28: 28px;
  /* Typography */
  --choosen-font: "Inter";
  /* --choosen-font: "Raleway"; */
  /* --choosen-font: "Sanchez"; */
}