:root {
  --primary-color: #615fff;
  --primary-hover: #747bff;
  --color-ghost: #5b4bff;
  --text-color: #0f172a;
  --color-light-0: #ffffff;
  --color-light-100: #e6eef6;
  --sidebar-color: #F3F5F6;
}